.jobs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  border-bottom: 1px solid var(--heading-border-color);
  font-size: 1.6rem;
  height: 6.4rem;
  background-color: var(--primary-color);
}

.jobs-header__left-container {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.jobs-header__title {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  font-size: 2rem;
}

.jobs-header__nav-list {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.jobs-header__nav-link {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: var(--tertiary-color);
    outline: none;
  }

  &:active {
    font-size: 1.5rem;
  }
}

.jobs-header__right-container {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.jobs-header__upload-cv-btn {
  text-decoration: none;
  border-radius: 8px;
  padding: 0.6rem 1.8rem;
  font-weight: 500;
  background-color: var(--primary-btn-color);
  color: var(--tertiary-color);
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-text-color);
  }

  &:focus {
    outline: 1px solid var(--tertiary-color);
  }

  &:active {
    transform: scale(0.98);
  }
}

.jobs-header__profile-image {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 100%;
  object-fit: cover;
  cursor: pointer;
}

.main-container {
  margin: 4rem auto;
  padding: 0 2rem;
  max-width: 1200px;
}

.search-job {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search-job__title {
  font-size: 6rem;
}

.search-job__description {
  color: var(--secondary-text-color);
  font-size: 2rem;
}

.search-job__search-form {
  width: 100%;
}

.search-job__search-container {
  display: flex;
  align-items: center;
  margin-top: 2.8rem;
  padding: 0.2rem 1.2rem;
  border: 1px solid var(--jobs-border-color);
  border-radius: 8px;
  background-color: #18212d;
}

.search-job__search-icon {
  color: #b4bdc8;
}

.search-job__search-input {
  background: none;
  border: none;
  font-size: 1.4rem;
  margin: 1rem;
  outline: none;
  width: 100%;

  &::placeholder {
    color: #4a5360;
    font-weight: 500;
  }

  &:focus,
  &:not(:placeholder-shown) {
    color: var(--primary-text-color);
  }
}

.search-job__filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.2rem;
}

.search-job__filter-item {
  position: relative;
}

.search-job__filter-select {
  appearance: none;
  padding: 0.8rem 4rem 0.8rem 2rem;
  border: none;
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--secondary-text-color);
  background-color: var(--secondary-btn-color);
  cursor: pointer;

  &:focus {
    outline: 1px solid var(--tertiary-color);
  }
}

.search-job__filter-icon {
  position: absolute;
  top: 11px;
  right: 14px;
  color: var(--secondary-text-color);
  width: 16px;
  pointer-events: none;
}

.search-job__clear-filter-btn {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--primary-text-color);
  background-color: var(--primary-btn-color);
  cursor: pointer;

  &:focus {
    outline: 1px solid var(--tertiary-color);
  }
}

.search-results__title {
  margin-block: 2.4rem;
  font-size: 2.4rem;
}

.search-results__jobs-container {
  border: 1px solid var(--jobs-border-color);
  border-radius: 8px;
}

.search-results__jobs-container > .search-results__job-card:last-child {
  border-bottom: none;
}

.search-results__job-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 2.4rem;
  border-bottom: 1px solid var(--jobs-border-color);
}

.search-results__job-card-title {
  font-size: 1.8rem;
}

.search-results__job-card-company {
  font-size: 1.4rem;
  color: var(--secondary-text-color);
  font-weight: 500;
  margin-bottom: 1rem;
}

.search-results__job-card-description {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: var(--secondary-text-color);
}

.search-results__job-card-apply-btn {
  align-self: flex-start;
  padding: 0.8rem 1.8rem;
  border: none;
  border-radius: 8px;
  color: var(--primary-text-color);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  background-color: var(--tertiary-color);

  &.is-applied {
    background-color: var(--secondary-btn-color);
    transition: background-color 0.3s;
    pointer-events: none;
  }

  &:hover {
    background-color: #0d5bb5;
  }

  /* &:focus {
    outline: 1px solid var(--primary-text-color);
    outline-offset: 0;
  } */

  &:active {
    transform: scale(0.98);
  }
}

.search-results__pagination {
  margin-top: 4rem;
}

.search-results__pagination-list {
  gap: 1rem;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.search-results__pagination-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  transition: background-color 0.3s;
  padding: 0.8rem 1.6rem;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-text-color);
    color: var(--primary-color);
  }

  &:focus {
    outline: 1px solid var(--tertiary-color);
  }

  &:active {
    font-size: 1.5rem;
  }

  &.is-active {
    background-color: var(--tertiary-color);
    color: var(--primary-text-color);
    pointer-events: none;
  }
}

.search-results__pagination-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  height: 3.7rem;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--primary-text-color);

    .search-results__pagination-icon {
      color: var(--primary-color);
    }
  }

  &:focus {
    outline: 1px solid var(--tertiary-color);
  }

  &:active {
    transform: scale(0.98);
  }
}

.search-results__pagination-icon {
  margin-inline: 1rem;
  color: var(--secondary-text-color);
  width: 18px;
  transition: color 0.3s;
}

.hidden {
  display: none;
}
