:root {
  --primary-color: #101922;
  --secondary-color: #1e293b;
  --tertiary-color: #1173d4;
  --primary-text-color: #fff;
  --secondary-text-color: #b4bdc8;
  --heading-border-color: #212a32;
  --primary-btn-color: #0f2b45;
  --secondary-btn-color: #242d3a;
  --jobs-border-color: #313b49;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.devjobs-logo {
  color: var(--tertiary-color);
  width: 32px;
}
