.offer-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  border-bottom: 1px solid var(--heading-border-color);
  font-size: 1.6rem;
  height: 6.4rem;
  background-color: var(--primary-color);
}

.offer-details-header__left-container {
  display: flex;
  gap: 4rem;
  align-items: center;
  width: 100%;
}

.offer-details-header__title {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  font-size: 2rem;
}

.offer-details-header__nav-list {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.offer-details-header__nav-link {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: var(--tertiary-color);
    outline: none;
  }

  &:active {
    font-size: 1.5rem;
  }
}

.offer-details-header__nav-link--selected {
  color: var(--tertiary-color);
}

.offer-details-header__right-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
}

.search-job__search-form {
  width: 100%;
  max-width: 36rem;
}

.search-job__search-container {
  display: flex;
  align-items: center;
  padding: 0 1.2rem;
  border: 1px solid var(--jobs-border-color);
  border-radius: 8px;
  height: 40px;
  background-color: #18212d;
}

.search-job__search-icon {
  color: #b4bdc8;
}

.search-job__search-input {
  background: none;
  border: none;
  font-size: 1.4rem;
  margin: 1rem;
  outline: none;
  width: 100%;

  &::placeholder {
    color: #4a5360;
    font-weight: 500;
  }

  &:focus,
  &:not(:placeholder-shown) {
    color: var(--primary-text-color);
  }
}

.offer-details-header__upload-cv-btn {
  text-decoration: none;
  border-radius: 8px;
  padding: 0.6rem 1.8rem;
  font-weight: 500;
  background-color: var(--primary-btn-color);
  color: var(--tertiary-color);
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-text-color);
  }

  &:focus {
    outline: 1px solid var(--tertiary-color);
  }

  &:active {
    transform: scale(0.98);
  }
}

.offer-details-header__profile-image {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 100%;
  object-fit: cover;
  cursor: pointer;
}
