.offer-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  border-bottom: 1px solid var(--heading-border-color);
  font-size: 1.6rem;
  height: 6.4rem;
  background-color: var(--primary-color);
}

.offer-details-header__left-container {
  display: flex;
  gap: 4rem;
  align-items: center;
  width: 100%;
}

.offer-details-header__title {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  font-size: 2rem;
}

.offer-details-header__nav-list {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.offer-details-header__nav-link {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: var(--tertiary-color);
    outline: none;
  }

  &:active {
    font-size: 1.5rem;
  }
}

.offer-details-header__nav-link--selected {
  color: var(--tertiary-color);
}

.offer-details-header__right-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
}

.search-job__search-form {
  width: 100%;
  max-width: 36rem;
}

.search-job__search-container {
  display: flex;
  align-items: center;
  padding: 0 1.2rem;
  border: 1px solid var(--jobs-border-color);
  border-radius: 8px;
  height: 40px;
  background-color: #18212d;
}

.search-job__search-icon {
  color: #b4bdc8;
}

.search-job__search-input {
  background: none;
  border: none;
  font-size: 1.4rem;
  margin: 1rem;
  outline: none;
  width: 100%;

  &::placeholder {
    color: #4a5360;
    font-weight: 500;
  }

  &:focus,
  &:not(:placeholder-shown) {
    color: var(--primary-text-color);
  }
}

.offer-details-header__upload-cv-btn {
  text-decoration: none;
  border-radius: 8px;
  padding: 0.6rem 1.8rem;
  font-weight: 500;
  background-color: var(--primary-btn-color);
  color: var(--tertiary-color);
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-text-color);
  }

  &:focus {
    outline: 1px solid var(--tertiary-color);
  }

  &:active {
    transform: scale(0.98);
  }
}

.offer-details-header__profile-image {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 100%;
  object-fit: cover;
  cursor: pointer;
}

.offer-details {
  margin: 4rem auto;
  padding: 0 2rem;
  max-width: 1200px;
}

.offer-details__breadcrumbs {
  font-size: 1.4rem;
  color: var(--primary-text-color);
}

.offer-details__breadcrumbs--current {
  color: var(--secondary-text-color);
}

.offer-details__content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 0 4rem;
  margin-top: 4rem;
}

.offer-details__content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer-details__title {
  font-size: 3.6rem;
  line-height: 1.4;
}

.offer-details__company {
  font-size: 1.6rem;
  color: var(--secondary-text-color);
}

.offer-details__apply-job-btn {
  padding: 0.8rem 1.8rem;
  border: none;
  border-radius: 8px;
  color: var(--primary-text-color);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  transition: filter 0.3s;
  text-decoration: none;
  background-color: var(--tertiary-color);
  box-shadow: 0px 2px 4px 0px #1173d4c2;

  &.is-applied {
    background-color: var(--secondary-btn-color);
    transition: background-color 0.3s;
    pointer-events: none;
  }

  &:hover {
    filter: saturate(3);
  }

  &:active {
    transform: scale(0.98);
  }
}

.offer-details__apply-job-btn--end {
  align-self: flex-end;
}

.offer-details__section-container--last {
  border-bottom: 1px solid #313b495e;
  padding-bottom: 4rem;
}

.offer-details__section-title {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.offer-details__section-content {
  font-size: 1.4rem;
  color: var(--secondary-text-color);
}

.offer-details__responsability-list {
  list-style: none;
  font-size: 1.4rem;
  color: var(--secondary-text-color);
}

.offer-details__check-circle-icon {
  color: var(--tertiary-color);
  display: inline-block;
}
